body{
        background-color: aquamarine;
}

.middle-container{
        background-color: blue;
        height: 200px;
        width: 200px;
}

.bottom-container{
        background-color: blueviolet;
        height: 200px;
        width: 200px;
}